#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container__cols {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.container__cols_label {
  font-size: 1.2rem;
  font-weight: bold;
  width: 160px
}
.container__cols_input {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.container__cols_input_label {
  width: 60px;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
  border: none;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}
.container__cols_buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.container__cols_buttons_label {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 160px;
}
.container__cols_buttons_label.start {
  background-color: #4CAF50;
  color: white;
}
.container__cols_buttons_label.stop {
  background-color: #f44336;
  color: white;
  display: none;
}
.container__cols_buttons_label.reset {
  background-color: #008CBA;
  color: white;
} 